<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css"> 
    <title>Home</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>Location:</th>
                <th>Eduaction:</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="st:${students}">
                <td data-th-text="${st.name}"></td>
                <td data-th-text="${st.location}"></td>
                <td data-th-text="${st.education}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
